* {
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}
*:before,
*:after {
  -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.App {
  background: linear-gradient(100deg, #ff7f29, #bb47ff, #9747ff);
  min-height: 100vh;
}

.login-out {
  position: fixed;
  display: flex;
  top: 8%;
  right: 2%;
  gap: 10%;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .login-out {
    margin-top: 2%;
    right: 0;
    gap: 10%;
    width: 16%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .login-out {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .login-out {
    top: 8%;
  }
}